NODE_ENV=production
PORT=3000
JWT_SECRET=SuperJWTSecret123!

# VM2 servicios (IP privada)
SERVICES_HOST=10.10.1.5

# Base central para AUTH en VM3
DB_CENTRAL_HOST=10.10.1.4
DB_CENTRAL_PASSWORD=SuperPasswordCentral123!

# Frontend URL pública
FRONTEND_URL=https://app.tu-dominio.com


