# JWT compartido entre gateway y servicios
JWT_SECRET=SuperJWTSecret123!

# IP privada de VM1 (DB)
DB_CENTRAL_HOST=10.10.1.4
DB_CENTRAL_PASSWORD=SuperPasswordCentral123!

DB_GYE_HOST=10.10.1.4
DB_GYE_PASSWORD=SuperPasswordGye123!

DB_CUENCA_HOST=10.10.1.4
DB_CUENCA_PASSWORD=SuperPasswordCuenca123!


